

# Composer dependencies
vendor/

# Logs and temporary files
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.save

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build artifacts
build/
*.map

# WordPress-specific files
wp-content/debug.log
purchasecheck-badge-woocommerce.zip